body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Resume.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

marquee{
    color: yellow;
}
.form-visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    text-align: center;
    margin-top: 20px;
}

form {
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 20px;
}

#fullName, #university, #address {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 20px;
    resize: none;
    word-wrap: break-word;
    height: 1rem;
    line-height: 1.5em;
    overflow-y: auto;
    font-size: 14px;
}

#skills, #actHob {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 20px;
    resize: none;
    word-wrap: break-word;
    height: 5rem;
    line-height: 1.5em;
    overflow-y: auto;
    font-size: 14px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#generatedResume {
    margin-top: 50px;
    border: 1px solid #ddd;
    padding: 20px;
}

#resumeDiv {
    margin-top: 100px;
}

@media (max-width: 600px) {
    form {
        width: 100%;
    }
}
